@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-base: 'Arsenica', serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-base);
  --font-mono: var(--font-geist-mono);
  --font-courier-prime: var(--font-courier-prime);
}

@mdark(prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-base);
  font-size: 16px;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  
  h1 {
    font-size: 1.75rem;
  }
  
  h2 {
    font-size: 1.5rem;
  }
  
  h3 {
    font-size: 1.25rem;
  }
  
  p {
    font-size: 0.875rem;
  }
}
